@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #3c3633;
  --data-color: #646359;
}

/* GENERAL */

body {
  background-image: url("./img/noaa-ZVhm6rEKEX8-unsplash.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.4rem;
  padding: 20px;
  font-family: "Lato", sans-serif;
  background-color: rgba(245, 245, 245, 0.623);
}

/* INPUT, BUTTON, ERROR MESSAGE */

.left > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}

form {
  padding: 4px;
  border-bottom: 2px solid black;
}

input {
  width: 30vw;
  height: 1rem;
  border-style: none;
  background-color: transparent;
  outline: 0;
  color: var(--data-color);
  font-size: 0.8rem;
}

input:focus,
input:active {
  background: transparent;
}

.searchBtn {
  border-style: none;
  outline: 0;
  background-color: transparent;
}

.unit {
  width: 4rem;
  height: 1.6rem;
  border-style: none;
  background-color: transparent;
  color: var(--header-color);
  border: 1px solid #3c3633;
}

.unit:hover {
  background-color: rgba(44, 44, 44, 0.274);
}

.unit:active {
  background-color: transparent;
}

.error {
  position: absolute;
  color: rgb(196, 39, 39);
  padding-top: 6px;
}

/* LOCATION, TIME AND DATE, WEATHER CONDITION */

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 1.4rem 1.4rem 0.4rem 0;
}

.header > div {
  display: flex;
  flex-direction: column;
}

.header > div:first-child {
  justify-content: center;
  color: var(--header-color);
}

.header > div:last-child {
  align-items: center;
  color: var(--header-color);
}

/* CURRENT WEATHER FORECAST */

.left > div:last-child {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1.4rem 1.4rem 0;
  color: var(--data-color);
}

.left_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_items > div {
  width: 10rem;
  display: flex;
  padding: 1rem 0;
}

/* WEEKLY WEATHER FORECAST */

main > div:last-child {
  display: flex;
  flex-direction: column;
}

main > div:last-child > h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  color: var(--header-color);
}

.weekly {
  display: flex;
  color: var(--data-color);
  align-items: center;
  justify-content: space-evenly;
}

.weekly > div:first-child,
.weekly > div:nth-child(2) {
  width: 6rem;
  display: flex;
  justify-content: center;
}

.iconContainer {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.iconContainer > img {
  width: 3rem;
  height: 3rem;
}
